<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative;
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color:  #5dade2;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #5dade2;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color:  #5dade2;}
  #section4 {padding-top:50px;height:500px;color: #fff; background-color: #5dade2;}
  #section5 {padding-top:50px;height:500px;color: #fff; background-color:  #5dade2;}
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">M2C</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Mason</a></li>
          <li><a href="#section2">Carpenter</a></li>
          <li><a href="#section3">Plumber</a></li>
          <li><a href="#section4">Electicians</a></li>
          <li><a href="#section5">Painter</a></li>

        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="section1" class="container-fluid">
  <h1>Mason</h1>

    <font color= "black"><table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= usersArray[0]._id %></td>
          <td><%= usersArray[0]. username%></td>
          <td><%= usersArray[0].email %></td>
        </tr>
        <tr>
          <td> <%= usersArray[1]._id %></td>
          <td><%= usersArray[1]. username%></td>
          <td><%= usersArray[1].email %></td>
        </tr>
        <tr>
          <td> <%= usersArray[2]._id %></td>
          <td><%= usersArray[2]. username%></td>
          <td><%= usersArray[2].email %></td>
        </tr>
      </tbody>
    </table>  </font>
  </div>




</div><hr>
<div id="section2" class="container-fluid">
    <h1>Carpenter
</h1>

    <font color= "black">  <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= usersArray[0]._id %></td>
            <td><%= usersArray[0]. username%></td>
            <td><%= usersArray[0].email %></td>
          </tr>
          <tr>
            <td> <%= usersArray[1]._id %></td>
            <td><%= usersArray[1]. username%></td>
            <td><%= usersArray[1].email %></td>
          </tr>
          <tr>
            <td> <%= usersArray[2]._id %></td>
            <td><%= usersArray[2]. username%></td>
            <td><%= usersArray[2].email %></td>
          </tr>
        </tbody>
      </table>  </font>

</div>
<hr>
<div id="section3" class="container-fluid">
    <h1>Plumber
  </h1>
    <font color= "black">  <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= usersArray[0]._id %></td>
            <td><%= usersArray[0]. username%></td>
            <td><%= usersArray[0].email %></td>
          </tr>
          <tr>
            <td> <%= usersArray[1]._id %></td>
            <td><%= usersArray[1]. username%></td>
            <td><%= usersArray[1].email %></td>
          </tr>
          <tr>
            <td> <%= usersArray[2]._id %></td>
            <td><%= usersArray[2]. username%></td>
            <td><%= usersArray[2].email %></td>
          </tr>
        </tbody>
      </table>  </font>
</div>
<hr>
<div id="section4" class="container-fluid">
    <h1>  Electicians
      </h1>
    <font color= "black">  <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= usersArray[0]._id %></td>
            <td><%= usersArray[0]. username%></td>
            <td><%= usersArray[0].email %></td>
          </tr>
          <tr>
            <td> <%= usersArray[1]._id %></td>
            <td><%= usersArray[1]. username%></td>
            <td><%= usersArray[1].email %></td>
          </tr>
          <tr>
            <td> <%= usersArray[2]._id %></td>
            <td><%= usersArray[2]. username%></td>
            <td><%= usersArray[2].email %></td>
          </tr>
        </tbody>
      </table>  </font>
</div>
<hr>
<div id="section5" class="container-fluid">
    <h1>Painter</h1>
  <font color= "black">  <table  class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= usersArray[0]._id %></td>
            <td><%= usersArray[0]. username%></td>
            <td><%= usersArray[0].email %></td>
          </tr>
          <tr>
            <td> <%= usersArray[1]._id %></td>
            <td><%= usersArray[1]. username%></td>
            <td><%= usersArray[1].email %></td>
          </tr>
          <tr>
            <td> <%= usersArray[2]._id %></td>
            <td><%= usersArray[2]. username%></td>
            <td><%= usersArray[2].email %></td>
          </tr>
        </tbody>
      </table></font>
</div>


</body>
</html
